<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    <img class="portrait" src="img/mycar.jpg" alt="" />
    <p>This site was created by Mattrey. This is a site which makes use of Node and Express. The API's used for extracting the Weather Information were weatherstack.com and mapbox.com</p>
    </div>
    
    {{>footer}}
  </body>
</html>